

body{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
    text-decoration: none;
    position: fixed;



    margin: 0 auto;
    position: relative;
    max-width: 100%;
    min-width: 33.33%;
}
* *,
::before,
::after{
    margin: 0;
    padding: 0;
    /* 清除移动端默认的点击高度效果 */
    -webkit-tap-highlight-color: transparent;
    /* 设置所有的都是以边框开始计算宽度百分比 */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 } 
.clearfix::before,.clearfix::after
{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
/* <!--顶部通栏--> */
.hm_topBar{
    width: 100%;
    height: 45px;
    background: url("#")repeat-x;
    background-size: 1px solid #ccc;
    /* position: absolute; */
}
.hm_topBar>[class^="icon_"]{
    position: absolute;
    top: 0;
    height: 44px;
    width: 40px;
    padding: 12px 10px;
    /* //设置背景从什么位子 开始显示 */
    background-clip: content-box; 
    /* //设置背景从什么位子 开始定位 */
    background-origin: content-box;
}
.hm_topBar .icon_back{
    left: 0;
    background-position: -20px 0;
}
.icon_back img{
    width: 100%;
    height: 100%;
}
.hm_topBar .icon_menu{
    right: 0;
    background-position: -60px 0;
}
.icon_menu img{
    width: 100%;
    height: 100%;
}
.hm_topBar form{
    width: 100%;
    height: 40px;
    padding: 0 40px;
}
.hm_topBar form input{
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    height: 30px;
    margin-top: 7px;
}
.hm_topBar h3{
    text-align: center;
    line-height: 44px;
    font-weight: normal;
}



.hm_category_left{
    width: 100px;
    height: 100%;
    overflow: hidden;
    float: left;
}
.hm_category_left ul{
    /* position: absolute;
    left: -47px; */

}
.hm_category_left ul li{
    list-style-type:none;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid#ccc;
    border-bottom:  1px solid#ccc;
    border-top:1px solid#ccc;
	border-left:1px solid#ccc;
}
.hm_category_left ul li a{
    display: block;
    text-decoration:none;
}
.hm_category_left ul li.now{
    border-right:none;
}
.hm_category_left ul li.now a{
    color: #d8505c;
}

/* 毛大衣 */
.hm_category_right{
    overflow: hidden;
    height: 100%;
  
}
.hm_category_right_box{
    padding: 0 13px;
}
.hm_category_right_box .banner{
    width: 100%;
    display: block;
    /* height: ; */
    
}
.hm_category_right_box .banner img{
    width: 120%;
/* height: 280px; */
}
.hot_cat{
    margin-top: 10px;
}
.hot_cat h3{
    font-size: 20px;
}
.hot_cat ul{
    width: 100%;
}
.hot_cat ul li{
    width: 33.333%;
    float: left;
    list-style: none;
    
}
.hot_cat ul li a{
    display: block;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}
.hot_cat ul li a img{
    width: 62px;
    height: 62px;
    margin: 0 auto;
    display: block;
}
