.header{

    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 1000;
    background-color: rgb(221, 223, 117)；
    /* 设置背景颜色 */
    }
    
    .header .header_box{
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    background:rgba(201, 21,35, 0);
    height: 40px;
    position: relative;
    /* 相对定位 */
    }
    .header_box .icon_logo
    {
    width: 60px;
    height: 36px;
    position: absolute;
    background-position: 0 ;
    /* 设置图片的起始位置 */
    top: 1.5px;
    left: 10px;
    }
    .header_box .login{
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(223, 206, 206);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    }
    
    .header_box  form{
    
    padding-left: 75px;
    padding-right: 50px;
    height: 40px;
    position: relative;
    
    
    }
    form input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 30px;
    }
    form .icon_search{
    height: 20px;
    width: 20px;
    position: absolute;
    background-position: -60px -109px;
    top: 10px;
    left: 85px;
    }
    form .icon_search{
    background: url(img/mihoutao.png);
    background-size: 20px 20px; 
    }
    .icon_logo {
    background: url(img/ningmeng.png) no-repeat;
    background-size: 20px 20px; 
    }




    html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
        margin: 0;
        padding: 0;
    }
    ul{
        list-style: none;
    }
    
    .slider{
        top: 40px;
        width: 100%;
        height: 300px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    
    #images{
        /* position: relative;
        background-color:red; */
        width: 100%;
       
    }
    
    #images>a{
        transition:  opacity 1s linear;
        /* display: block; */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .displayImg{
        /* display: block; */
        opacity: 1;
    }
    
    .hiddenImg{
     /* display: none; */
     opacity: 0;
    }
    img{
        transition: opacity 1s linear;
        opacity: 1;
        width:  100%;
        height: 300px;    
        margin: 0 auto;
    }
    
    .btn{
        position: absolute;
        top:50%;
        width: 60px;
        height: 30px;
        background-color: #000;
        opacity: 0.3;
        color: #fff;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        background-position: center;
    }
    
    .rightButton{
        right:20px;
    }
    
    .leftButton{
        left:20px;
    }
    
    .txt-box{
        width: 100%;
        /* background-color: #000; */
        /* opacity: 0.3; */
        height:5px;
        position: absolute;    
        left: 0;
        bottom: 0;
        display: flex;
        z-index: 5;
        transition: height 0.1s linear 0s;
    }
    
    .txt-box:hover{
        height: 40px;
    }
    
    .txtItem{
        width: 12.5%;
        margin-right: 2px;
        color: #fff;
        text-align: center;    
    }
    .txtItem:last-child{
        margin:0;
    }
    
    .txtItem:hover,.heighlightColor{
        background-color:rgb(252, 164, 2);
    }
    .normalColor{
        background-color:rgba(0,0,0,0.5);
    }
    






/* 第三区块 */
    .hm_nav{
        position: absolute;
        top: 350px;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #e0e0e0;
    }
    .hm_nav>ul{
        width: 100%;
        padding: 10px 0;
    }
    .hm_nav>ul>li{
        width: 25%;
        float: left;
    }
    .hm_nav>ul>li>a{
        display: block;
    }
    .hm_nav>ul>li>a>img{
        width: 40px;
        height: 40px;
        display: block;
        margin: 0 auto;
    }
    .hm_nav>ul>li>a>p{
        text-align: center;
        color: #666;
        font-size: 12px;
        padding: 6px 0;
    }

    /* 第四区块 */

    .hm_product{
        position: absolute;
        top: 500px;
        padding: 0 5px;
    }

    .hm_product> .product_box{
        width: 100%;
        background: #fff;
        margin-top: 10px;
        box-shadow: 0 0 1px #e0e0e0;
    }
    .hm_product>.product_box>.product_box_tit{
        height: 32px;
        line-height: 32px;
        border-bottom: 1px solid #e0e0e0;
    }
    .hm_product>.product_box>.product_box_tit.no_border{
        border-bottom: none;
    }
    .hm_product>.product_box>.product_box_tit>h3{
        font-weight: normal;
        font-size: 15px;
        padding-left: 20px;
        position: relative;
        color:#666;
    }
    .hm_product>.product_box>.product_box_tit>h3::before{
        content: "";
        position: absolute ;
        top: 10px;
        left: 10px;
        width: 3px;
        height: 12px;
        background:#d8505c;
    }
    /* //掌上秒杀 second kill */
    .hm_sk{  }
    .hm_sk .sk_icon{
        background: url("img/01.jpg")no-repeat;
        background-size: 16px 20px;
        width: 16px;
        height: 20px;
        float: left;
        margin-top: 6px;
    }
    .hm_sk .sk_name{
        color:#d8505c;
        font-size: 15px;
        float: left;
    }
    .hm_sk .sk_time{
        float: left;
        margin-top: 8px;
    }

    .hm_sk .sk_time>span{
        float: left;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        background:#333;
        color: #fff;
        margin-left: 3px;
    }
    .hm_sk .sk_time>span:nth-child(3n){
        background: #fff;
        color: #333;
        width: 5px;

    }



    .hm_sk .product_box_con>ul{
        width: 100%;
        font-size: 12px;
        /* padding: 10px 0; */
    }
    .hm_sk .product_box_con>ul>li{
        width: 33.333%;
        float: left;
        text-align: center;
    }
    .hm_sk .product_box_con>ul>li>a{
        display: block;
        width: 100%;
        border-right: 1px solid #e0e0e0;
    }
    .hm_sk .product_box_con>ul>li:last-child>a{
        border-right: 0;
    }
    .hm_sk .product_box_con>ul>li>a>img{
        width: 64%;
        
        display: block;
        margin: 0 auto;
    }
    .hm_sk .product_box_con>ul>li>p:first-of-type{
        color:#d8505c;
        padding-top: 5px;
    }
    .hm_sk .product_box_con>ul>li>p:last-of-type{
        text-decoration: line-through;
        color: #666;
        padding-top:5px;
    }




    /* 组合样式 */
  
    .w_50{
        width: 50%;
        display: block;
    }
    .w_50>img{
        display: block;
        width: 100%;
    }
   
    .b_left{
        border-left: 1px solid #e0e0e0;
    }
    .b_right{
        border-right: 1px solid #e0e0e0;
    }
    .b_bottom{
        border-bottom: 1px solid #e0e0e0;
    }

    
    
